<div class="wrapper">
    <nav id="sidebar" [ngClass]=" status ? 'hide' : 'show'">
        <ul class="list-unstyled components">
            <p class="dashboard">Dashboard</p>
            <li *ngFor="let topic of title ; let i = index" (click) = "onClick(topic)">
                <span>{{topic | titlecase}}</span>
            </li>
        </ul>
    </nav>

    <app-header>
        <button type="button" id="sidebarCollapse" class="btn" (click)="clickEvent()">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" style="color: white;">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
    </app-header>
</div>
<div class="overlay" [ngClass]="status ? 'active' : ''"></div>
