.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
    visibility:hidden;
}

.card:hover .overview{
    visibility: visible;
    transform:translateY(0);
}

.overflow-hide{
    overflow: hidden;
}

.full-height{
    height: 100vh;
}
