<div class="container-fluid">
    <!-- <app-header></app-header> -->
</div>
    <div class="container mt-5 overflow-hide">
        <div class="row" *ngIf="!implementingSearch">
            <div class="row mt-2">
                <div class="col-md-10">
                    <h3 class="text-white">Popular Movies</h3>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-outline-danger text-white" (click)="onViewMore('popular')">View More+</a>
                </div>
            </div>
            <div class="row mb-2 mt-2">
                <div class="col" *ngFor="let movie of popularMovies; let i = index">
                    <div *ngIf=" i < 4">
                        <div style="text-decoration: none; color: black;" (click) = "onSelectMovie(movie)">
                            <div class="card mb-3" style="width: 18rem; max-height: 350px;">
                                <img [src]="movie.poster_path" class="card-img-top" alt="{{movie.title}}" style="height: 18rem;">
                                <div class="card-body">
                                <div class="overview"> 
                                    <h5>Watch {{movie.title}}</h5>
                                    <img style="cursor: pointer;" src="https://img.icons8.com/ios-filled/50/000000/circled-play.png"/> 
                                </div>
                                <h5 class="card-title"> {{movie.title}} </h5>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!implementingSearch">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="text-white">Upcoming Movies</h3>
                </div>
                <div class="col-md-2">
                    <a class="btn btn btn-outline-danger text-white" (click)="onViewMore('upcoming')">View More+</a>
                </div>
            </div>
            <div class="row mb-2 mt-2">
                <div class="col" *ngFor="let movie of upcomingMovies; let i = index">
                    <div *ngIf=" i < 4">
                        <div style="text-decoration: none; color: black;" (click) = "onSelectMovie(movie)">
                            <div class="card mb-3" style="width: 18rem;max-height: 350px;">
                                <img [src]="movie.poster_path" class="card-img-top" alt="{{movie.title}}" style="height: 18rem;">
                                <div class="card-body">
                                    <div class="overview"> 
                                        <h5>Watch {{movie.title}}</h5>
                                        <img style="cursor: pointer;" src="https://img.icons8.com/ios-filled/50/000000/circled-play.png"/> 
                                    </div>
                                        <h5 class="card-title"> {{movie.title}} </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        <div class="row" *ngIf="!implementingSearch">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="text-white">Top Rated Movies</h3>
                </div>
                <div class="col-md-2">
                    <a class="btn btn btn-outline-danger text-white" (click)="onViewMore('top-rated')">View More+</a>
                </div>
            </div>
            <div class="row mb-2 mt-2">
                <div class="col" *ngFor="let movie of topRatedMovies; let i = index">
                    <div *ngIf=" i < 4">
                        <div style="text-decoration: none; color: black;" (click) = "onSelectMovie(movie)">
                            <div class="card mb-3" style="width: 18rem;max-height: 350px;">
                                <img [src]="movie.poster_path" class="card-img-top" alt="{{movie.title}}" style="height: 18rem;">
                                <div class="card-body">
                                    <div class="overview"> 
                                        <h5>Watch {{movie.title}}</h5>
                                        <img style="cursor: pointer;" src="https://img.icons8.com/ios-filled/50/000000/circled-play.png"/> 
                                    </div>
                                <h5 class="card-title"> {{movie.title}} </h5>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!implementingSearch">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="text-white">Popular TV Shows</h3>
                </div>
                <div class="col-md-2">
                    <a class="btn btn btn-outline-danger text-white" (click)="onViewMore('tv-shows')">View More+</a>
                </div>
            </div>
            <div class="row mb-2 mt-2">
                <div class="col" *ngFor="let movie of popularTvShows; let i = index">
                    <div *ngIf=" i < 4">
                        <div style="text-decoration: none; color: black;" (click) = "onSelectMovie(movie)">
                            <div class="card mb-3" style="width: 18rem;max-height: 350px;">
                                <img [src]="movie.poster_path" class="card-img-top" alt="{{movie.title}}" style="height: 18rem;">
                                <div class="card-body">
                                    <div class="overview"> 
                                        <h5>Watch {{movie.title}}</h5>
                                        <img style="cursor: pointer;" src="https://img.icons8.com/ios-filled/50/000000/circled-play.png"/> 
                                    </div>
                                <h5 class="card-title"> {{movie.title}} </h5>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="implementingSearch">
            <div class="row" *ngIf="searchedMovies.length!==0">
                <div class="col-md-10">
                    <h3 class="text-white">Matches Found !</h3>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger" (click)="onBack()">Back</button>
                </div>
            </div>
            <div class="row mb-2 mt-2 full-height" *ngIf="searchedMovies.length!==0">
                <div class="col" *ngFor="let movie of searchedMovies; let i = index">
                    <div style="text-decoration: none; color: black;" (click) = "onSelectMovie(movie)">
                        <div class="card mb-3" style="width: 18rem;max-height: 350px;">
                            <img [src]="movie.poster_path" class="card-img-top" alt="{{movie.title}}" style="height: 18rem;">
                            <div class="card-body">
                                <div class="overview"> 
                                    <h5>Watch {{movie.title}}</h5>
                                    <img style="cursor: pointer;" src="https://img.icons8.com/ios-filled/50/000000/circled-play.png"/> 
                                </div>
                                <h5 class="card-title"> {{movie.title}} </h5>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="row full-height" *ngIf="implementingSearch">
          <div class="row" *ngIf="searchedMovies.length===0">
            <div class="col-md-10">
                <h3 class="text-white">Oops ! No Matches Found ...</h3>
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger" (click)="onBack()">Back</button>
            </div>
            <div style="text-align: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="60%" height="50%" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16" style="color: white;text-align : center">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                </svg>
            </div>
          </div>
        </div>
   </div>
